<p class="col-md-6">
  <button class="btn btn-primary" [disabled] = "!allowNewUser" (click) = "oncCreateServer()">Add Server</button>
</p>

<!-- <input type="text" class="form-control" (input)="onUserInputEnter($event)"> -->
<input type="text" class="form-control" [(ngModel)] = "serverName">


<!-- <p>{{textDisplayed}}</p> -->
<p *ngIf="serverCreated; else noServer">Server was created with with server name {{serverName}}</p>
<p *ngIf="!serverCreated">No server was created</p>
<!-- <ng-template #noServer>
  <p>No Server was create</p>
</ng-template> -->
<app-server *ngFor="let server of servers"></app-server>